* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

@media (max-width: 600px) {
  .button-container {
    margin-top: 20px;
  }
}

.button-link {
  width: 80%;
}

.arrow-container {
  top: -20px;
}

.arrow {
  width: 8px;
  height: 8px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 8px solid #007bff;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

body {
  font-family: Arial, sans-serif;
  background-color: #c2fcf7;
  background-image: linear-gradient(#c2fcf7, #85bdbf);
  width: 100%;
  margin: 0 auto;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

img {
  width: 100px;
}

h1 {
  font-size: 25px;
  color: #333;
}

ul.links {
  list-style: none;
  padding: 0;
  text-align: center;
}

ul.links li {
  margin-bottom: 20px;
}

ul.links li a {
  display: inline-block;
  padding: 15px 40px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #000000;
  background-color: #b5faf4;
  border: 2px solid #57737a;
  border-radius: 30px;
  box-shadow: 0 9px #57737a;
  transition: background-color 0.3s, box-shadow 0.3s, tran sform 0.3s;
  width: 350px;
  max-width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul.links li a:hover {
  background-color: #aed2ffd8;
  box-shadow: 0 9px #57737a;
}

/* Tambahkan efek pressed saat tombol ditekan */
ul.links li a:active {
  background-color: #aed2ffd8;
  box-shadow: 0 5px #57737a;
  transform: translateY(4px);
}

.copy-button {
  background-color: #d9f7f8;
  border: none;
  color: rgb(0, 0, 0);
  padding: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 1px 1px;
  cursor: pointer;
  border-radius: 10px;
  width: 90px;
  height: 30px;
  border: 2px solid #57737a;
}

.copy-button:active {
  background-color: #ffffff;
  border: 2px solid #57737a;
}

.noRek {
  font-size: 18px;
  padding: 3px;
}

.a-n {
  font-size: 11px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.payBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #caf8f4;
  width: 200px;
  height: 130px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px -7px grey;
}

.delivery {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #b5faf4;
  width: 120px;
  height: 70px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px -5px grey;
}

.delivery1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #b5faf4;
  width: 320px;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px -5px grey;
}

.delivery2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #b5faf4;
  width: 320px;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px -5px grey;
}

.nonCod {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #b5faf4;
  width: 120px;
  height: 70px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px -5px grey;
}

.depo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: #caf8f4;
  width: 350px;
  height: 330px;
  border-radius: 0px 0px 10px 10px;
  border: 2px solid #57737a;
  display: flex;
  padding: 20px;
}

.stepOne {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  height: 50px;
  display: flex;
  text-align: center;
  padding: 0px;
  border-radius: 10px 10px 0px 0px;
  background-color: #9bd7da;
  border: 2px solid #57737a;
}

.stepTwo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 70px;
  display: flex;
  text-align: left;
  padding: 0px;
  border-radius: 10px 10px 0px 0px;
  background-color: #c7c0c0;
  border: 2px solid #777575;
}

.example {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: #f8f0e5;
  width: 400px;
  height: 280px;
  border-radius: 0px 0px 10px 10px;
  border: 2px solid #57737a;
  display: flex;
  padding: 20px;
}

.keterangan {
  display: flex;
  flex-direction: column;
}

.keterangan1 {
  display: flex;
  flex-direction: center;
  padding: 15px;
}

.keterangan2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.delivery,
.nonCod {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ourLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  padding: 20px;
  font-weight: bold;
}

footer {
  text-align: center;
  margin-top: px;
  margin-bottom: 20px;
}

footer p {
  font-size: 14px;
  color: #666;
}
